<ion-view view-title="Registration Page">
	<ion-content>
		<div class="list">
		  <label class="item item-input">
			<span class="input-label icon ion-person"></span>
			<input type="text" ng-model="user.name">
		  </label>
		  <label class="item item-input">
			<span class="input-label icon ion-locked"></span>
			<input type="password" ng-model="user.password">
		  </label>
		  <label class="item item-input">
			<span class="input-label icon ion-locked"></span>
			<input type="password" ng-model="user.re_password">
		  </label>
		</div>
		<button class="button button-positive button-block" ng-click="registration(user)">Registration</button>
	</ion-content>
</ion-view>
